<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">
		
		<img class="bg" src="./images/bg.jpg" alt="" inline>
		<img class="retina glow t1 t1_a" src="./images/t1_a.png" alt="" inline>
		<img class="retina glow t1 t1_b" src="./images/t1_b.png" alt="" inline>
		<img class="retina glow t1 t1_c" src="./images/t1_c.png" alt="" inline>
		<img class="retina glow t1 t1_d" src="./images/t1_d.png" alt="" inline>


		<img class="retina glow t2 t2_a" src="./images/t2_a.png" alt="" inline>
		<img class="retina glow t2 t2_b" src="./images/t2_b.png" alt="" inline>
		<img class="retina glow t2 t2_c" src="./images/t2_c.png" alt="" inline>
		<img class="retina glow t2 t2_d" src="./images/t2_d.png" alt="" inline>


		<img class="retina glow t3 t3_a" src="./images/t3_a.png" alt="" inline>
		<img class="retina glow t3 t3_b" src="./images/t3_b.png" alt="" inline>
		<img class="retina glow t3 t3_c" src="./images/t3_c.png" alt="" inline>
		<img class="retina glow t3 t3_d" src="./images/t3_d.png" alt="" inline>

		<img class="retina glow cta" src="./images/cta.png" alt="" inline>
		<img class="retina glow logo" src="./images/logo.png" alt="" inline>
		

		<!-- <img class="trace" src="./images/f1.jpg" alt="" inline> -->
		<div class="bar"></div>
	</div>
	<div class="frame frame2">
		
	</div>
</div>