

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
}



#banner{
	font-size: 20px;
	color: #333;
	width: 728px;
	height: 90px;
}


.bar{
	width: 5px;
	height: 31px;
	background-color: #6c0;
	// border: 1px solid red;
	@include pos(27, 27);
}


.glow{
	-webkit-filter: drop-shadow(0px 0px 12px #1a6889);
	filter: drop-shadow(0px 0px 12px #1a6889);
}

.bg{
	@include pos(0, -230);
}


// .t1{
// 	opacity: 0;
// }

.trace{
	opacity: .5;
}

.ctaHover{
	transition: opacity .2s ease-in-out;
	width: 99px;
	height: 24px;
	background-color: #6c0;
	// border: 1px solid red;
	opacity: 0;
	@include pos(599, 11);
}

#banner:hover .ctaHover{
	opacity: 1;
}